*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/extensions/av1/buildout/
/extensions/cast/buildout/
/extensions/cronet/buildout/
/extensions/ffmpeg/buildout/
/extensions/flac/buildout/
/extensions/gvr/buildout/
/extensions/ima/buildout/
/extensions/jobdispatcher/buildout/
/extensions/leanback/buildout/
/extensions/mediasession/buildout/
/extensions/okhttp/buildout/
/extensions/opus/buildout/
/extensions/rtmp/buildout/
/extensions/vp9/buildout/
/extensions/workmanager/buildout/
/playbacktests/buildout/
/library/all/buildout/
/library/all/build/
/library/core/buildout/
/library/core/build/
/library/dash/buildout/
/library/dash/build/

/library/hls/build/
/library/hls/buildout/
/library/smoothstreaming/build/
/library/smoothstreaming/buildout/
/library/ui/build/
/library/ui/buildout/
/.idea/
/sampleImage/
/credentials.jks
